{{ define "main" }}
<div class="post h-entry">
  <header class="post-header">
		{{ if .Title }}
	  		<h1 class="post-list-item-title p-name">{{ .Title }}</h1>
		  	<div class="post-meta">
				<span>
					<a class="u-url" href="{{ .Permalink }}">
						<time class="post-list-item-date dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
					</a>
				</span>
				{{ if .Site.Params.showReadingTime }}
					{{ if gt .ReadingTime 1 }} <span>Reading Time: {{ .ReadingTime }} minutes</span>{{ end }}
				{{ end }}
				<img class="u-photo" style="display: none" src="{{ .Site.Author.avatar }}" alt="{{ .Site.Author.name }}" />
				<a rel="author" class="p-author h-card" style="display:none" href="/">{{ .Site.Author.name }}</a>
				</div>
				{{ if .Site.Params.showPostCategories }}
					{{ if .Params.categories }}
						<div class="archive_categories">
							{{ with .Params.categories  }}
								{{ range . }}
								{{ $name := . }}
									{{ with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) }}
									<p><a href="{{ .Permalink }}" class="p-category" >{{ $name }}</a></p>
									{{ end -}}
								{{ end }}
							{{ end }}
						</div>
					{{ end }}
				{{ end }}
	{{ else }}
		<h1 class="post-list-item-title">
			<a class="u-url" href="{{ .Permalink }}">
				<time class="post-list-item-date dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
			</a>
		</h1>
		<div class="post-meta">
			<img class="u-photo" style="display: none" src="{{ .Site.Author.avatar }}" alt="{{ .Site.Author.name }}" />
			<a rel="author" class="p-author h-card" style="display:none" href="/">{{ .Site.Author.name }}</a>
		</div>
		{{ if .Site.Params.showPostCategories }}
		{{ if .Params.categories }}
					<div class="archive_categories">
						{{ with .Params.categories  }}
							{{ range . }}
							{{ $name := . }}
								{{ with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) }}
								<p><a href="{{ .Permalink }}" class="p-category" >{{ $name }}</a></p>
								{{ end -}}
							{{ end }}
						{{ end }}
					</div>
			{{ end }}{{ end }}
  	{{ end }}
  </header>

  <article class="post-content e-content">
	{{ .Content }}
  </article>
<h2 id="currently-having-a-bug-with-some-of-the-sources">If you landed on a old post without Link to the source, search below</h2>
<blockquote>
<p>For some posts, the link to the source is not getting posted, I'm working on it !
Until this is fixed you can always look <a href="https://rss.osintukraine.com/i/?a=normal&get=c_2">here</a> or <a href="https://www.inoreader.com/stream/user/1005324229/tag/News/view/html?cs=m&sb=y">here</a></p>
</blockquote>
<h2 id="ukrainian">Зараз є помилка з деякими посиланнями на джерела</h2>
<blockquote>
<p>У деяких публікаціях посилання на джерело не розміщується, я працюю над цим! Поки це не вирішено, ви завжди можете дивитися <a href="https://rss-osintukraine-com.translate.goog/i/?a=normal&get=c_2&_x_tr_sl=auto&_x_tr_tl=uk&_x_tr_hl=fr&_x_tr_pto=wapp">тут</a> або <a href="https://www-inoreader-com.translate.goog/stream/user/1005324229/tag/News/view/html?cs=m&sb=y&_x_tr_sl=auto&_x_tr_tl=uk&_x_tr_hl=fr&_x_tr_pto=wapp">тут</a></p>
</blockquote>
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('cyberbenb', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support me',
    'floating-chat.donateButton.background-color': '#00b9fe',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>
</div>
</div>
{{ if eq .Type "post"}}
    {{ if or (templates.Exists "partials/reply-by-email.html") (templates.Exists "partials/conversation-link.html") (.Site.Params.showTinylyticsKudos) }}
		<div class="response-options">
			{{ if .Site.Params.showTinylyticsKudos}}<button class="tinylytics_kudos" type="button" aria-label="Kudos"></button>{{ end }}
			{{ if templates.Exists "partials/conversation-link.html" }}{{ partial "conversation-link.html" . }}{{ end }}
			{{ if templates.Exists "partials/reply-by-email.html" }}{{ partial "reply-by-email.html" . }}{{ end }}
		</div>
{{ end }}
  {{ end }}
{{ if .Site.Params.include_conversation }}
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}

{{ end }}
